.develop {
  @media(max-width: 992px) {
    padding: 24px 0;
  }
  .title {
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    line-height: 56px;
    margin-bottom: 32px;
    z-index: 10;
    position: relative;
    margin-top: 40px;
    @media(max-width: 767px) {
      font-size: 28px;
      margin-bottom: 24px;
      margin-top: 0px;
    }
  }
  .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    .owl-prev, .owl-next {
      margin: 0 45px;
    }
  }
  .nav-tabs {
    border-bottom: none;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      width: 450px;
      height: 320px;
      opacity: 0.2;
      background: #544F45;
      left: -50px;
      top: -100px;
      z-index: -1;
      @media(max-width: 992px) {
        left: -100px;
      }
      @media(max-width: 767px) {
        display: none;
      }
    }
    li {
      margin-right: 40px;
      a {
        font-size: 16px;
        color: #FFFFFF;
        line-height: 22px;
        opacity: .8;
        transition: .25s;
        position: relative;
        &.active {
          opacity: 1;
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
        &:after {
          width: 24px;
          height: 1px;
          background: #fff;
          opacity: .4;
          position: absolute;
          content: '';
          left: 0px;
          bottom: -6px;
          transition: .25s;
        }
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
